# Fichiers système
__pycache__/
*.pyc
*.pyo

# Environnement virtuel
venv/
.env/

# Fichiers projets générés
projets/

# Fichiers temporaires d'OS
.DS_Store
Thumbs.db

# Fichiers logs éventuels
*.log
