# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# MacOS
.DS_Store

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Log files
*.log

# Cache
.cache/
